body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.mybox{
  border:1px solid;
  margin:10px;
  padding-top: 10px;
}
.mytodo{
  border:1px solid;
  margin:7px;
}
.myli{
  border:1px solid;
  margin:9px;
  padding-bottom: 4px;
  background-color: blue;
  margin-left: 10px;
}
.coffee{
  border:1px solid;
  margin:9px;
  padding-bottom: 4px;
  background-color: red;
  margin-left: 10px;
}
.tea{
  border:1px solid;
  margin:9px;
  padding-bottom: 4px;
  background-color: green;
  margin-left: 10px;
}
.task1{
  border:1px solid;
  border-color: red;
  display: inline-block;
}
.task2{
  border:1px solid;
  border-color: green;
  display: inline-block;
  margin: 10px;
}
.list{
  border:5px solid;
  border-color: grey;
  margin:5px;
  margin-bottom: 30px;
  padding: 10px;

}

